table {
    text-align: center;
    padding: 10px;
    border: 1px dashed #888;
}

td{
    width: 25px;
    height: 25px;
}

.dark{
    background: #333;
}

.ipt{
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #222;
}

.container{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
}