*{
    font-family: 'Poppins' ,sans-serif;
    margin: 0;
}

body{
    background-color: rgb(202, 230, 255);
}

table {
    text-align: center;
    padding: 10px;
    border: 1px dashed #888;
}
h2{
    margin: 0;
    font-weight: 500;
}

td{
    width: 30px;
    height: 30px;
    position: relative;
}

input{
    border-radius: 5px;
    transition: 0.3s;
}
input:hover{
    background-color: #e2e2e2;
}

.dark{
    background: #333;
}

.ipt{
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #222;
    text-transform: uppercase;
}

.container{
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
}

.cruzadinha{
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.cruzadinha .title{
    position: relative;
    bottom: 20px;
}

.correct{
    color: rgb(3, 78, 0);
}

.wrong{
    color: rgb(143, 0, 0);
}
.num_id{
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 10px;
}

.clues .container .box {
    display: flex;
    width: 90vw;
    justify-content: center;
}

.box .box-left,
.box .box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    gap: 20px;
}


.box .box-right .info,
.box .box-left .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.clues{
    position: relative;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 500px;
}